body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(245, 245, 245);
}

.app {
  position: relative;
}

h1 {
  background-color: #005980;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

h2 {
  color: #005980;
}

#runner {
  /*per centrare il div sempre al centro con position absolute
  impostare il div superiore position: relative, poi top e left 50% 
  poi margin left -width/2, margin top -height/2; */
  position: absolute;
  width: 160px;
  height: 50px;
  background-color: green;
  top: 50%;
  left: 50%;
  margin-left: -80px;
  margin-top: -22.5px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

#runner:hover span {
  display: none;
}

button:hover:before {
  content: "No Grazie";
}

#runner:hover {
  background-color: red;
}
